.login-container {
   @include modal-content-container;
}

.login-modal {
   @include login-modal;
}

.modal-error {
   font-size: 1.5rem;
   color: $orange;
   padding: 1rem;
}

.modal-input {
   position: relative;
   padding: 1.5rem;
   background-color: rgb(136, 231, 231, 0.2);
   border-radius: 1rem;
   width: 100%;
}

.modal-input>input {
   width: 100%;
}

.modal-placeholder {
   position: absolute;
   top:0;
   left: 1.5rem;
   font-weight: bold;
}

.modal-inputicon {
   position: absolute;
   top: 0;
   right: 0;
   translate: -50% 1.5rem;
   font-size: 2rem;
}

.button-login {
   @include login-button;
}