.footer-container {
   padding: 4rem;
   background-color: #f34a23;

   @media (max-width: 880px) {
      padding: 2rem;
   }
}

.socials {
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   color: #FFFFFF;
}