.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 9999;
   color: $black;
   
   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark-blue;
      opacity: 0.8;
      z-index: -1;
   }
}

.modal-container {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 3rem;
   height: fit-content;
   padding: 10rem;
   background-color: $white;
   border-radius: 2rem;

   @media (max-width: 675px) {
      padding: 6rem;
   }
}

.modal-buttons {
   display: flex;
   gap: 2rem;
}

.modal-buttons button {
   font-size: 2rem;
   font-weight: bold;

   @media (max-width: 675px) {
      font-size: 1.5rem;
   }
}

.modal-close {
   cursor: pointer;
   position: absolute;
   top: 1rem;
   right: 1rem;
   font-size: 2rem;
}