.film-describtion-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 4rem 4rem;
   background-color: $dark-blue;
   min-height: calc(100vh - 20rem);
}

.film-about-wrapper {
   display: flex;
   gap: 5rem;

   @media (max-width: 675px) {
      flex-direction: column;
   }
}

.film-image-container {
   flex: 0 0 20rem;
   height: 30rem;
   position: relative;

   @media (max-width: 675px) {
      flex: 0 0 30rem;
      width: 20rem;
      align-self: center;
   }
}

.film-about-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.film-describtion-name {
   font-size: 2rem;
   font-weight: bold;
}

.film-genre-container {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   font-size: 1.5rem;
}

.film-genres {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
}

.film-about {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   font-size: 1.5rem;
}

.film-infoItems {
   display: flex;
   flex-wrap: wrap;
   gap: 5rem;
   font-size: 1.5rem;
}