// Base
@import './styles/base.scss';
@import './styles/vars.scss';
@import './styles/mixins.scss';

// Pages
@import './pages/FilmDescrintion/FilmDescribtion.scss';
@import './pages/Films/Films.scss';
@import './pages/NotFoundPage/NotFoundPage.scss';
@import './pages/Player/Player.scss';

// Components
@import './components/FilmCard/FilmCard.scss';
@import './components/Footer/Footer.scss';
@import './components/Header/Header.scss';
@import './components/Login/Login.scss';
@import './components/Modal/Modal.scss';
@import './components/Registration/Registration.scss';
@import './components/Slider/Slider.scss';
@import './components/Error401/Error401.scss';

html {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
	color: $white;

	@media (min-width: 1800px) {
		font-size: 1vw;
	}
}

a {
	color: $white;
}

span {
	display: block;
}