.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: $orange;
   padding: 0 4rem;
}

.logo-container {
   flex: 0 0 40vw;
   display: flex;
   gap: 1rem;
   justify-content: flex-start;
   align-items: center;
}

.product-logo {
   flex: 0 0 10rem;

   @media (max-width: 460px) {
      flex:  0 0 6rem;
   }
}

.product-name {
   display: flex;
   font-size: 2rem;
   cursor: pointer;

   @media (max-width: 460px) {
      font-size: 1.5rem;
   }
}

.product-name>span:nth-child(1) {
   font-weight: bold;
}

.logo {
   object-fit: cover;
   width: 100%;
}

.nav-menu {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   
   @media (max-width: 880px) {
      justify-content: flex-end;
      position: relative;
   }
}

.burger {
   display: none;
   font-size: 2.5rem;
   margin-right: 1rem;
   cursor: pointer;

   @media (max-width: 880px) {
      display: flex;
      align-items: center;
   }

   @media (max-width: 460px) {
      font-size: 2rem;
   }
}

.nav-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   font-size: 2rem;
   font-weight: bold;

   @media (max-width: 880px) {
      display: none;
      animation: burger-menu 0.1s ease-in;
      position: absolute;
      z-index: 9999;
      bottom: -1rem;
      right: 0;
      translate: -10% 100%;
      width: 15rem;
      flex-direction: column;
      padding: 1rem 1rem;
      background-color: $orange;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 1rem;
      justify-content: flex-end;
      font-size: 1.5rem;
   }
}

.burger-open {
   display: flex;
   opacity: 1;
}

.nav-element {
   position: relative;
   cursor: pointer;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.1rem;
      background-color: $light-blue;
      transition: width 0.3s ease-in-out;
   }

   &:hover::after {
      width: 100%;
   }
   &:hover.nav-element>a {
      color: $light-blue;
   }
}

.header-rightside {
   flex: 0 0 auto;
   display: flex;
   gap: 5rem;
   justify-self: flex-end;
   justify-content: flex-end;
}

.user-menu {
   font-size: 2rem;
   font-weight: bold;
   transition: color 0.2s ease-in-out;

   @media (max-width: 460px) {
      font-size: 1.5rem;
   }
}

.user-menu:hover {
   color: $light-blue;
}

.user-icon {
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   background-color: $white;
}

.login {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.logout {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.user{ 
   display: flex;
   gap: 1rem;
   align-items: center;
   justify-content: center;
}

@keyframes burger-menu {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}